#homepage_body {
  height: auto;
  width: 100vw;
  background-color: #FFFFFF;
}
#header {
  height: 5vh;
  width: 100vw;
  background-color: #FFFFFF;
}
.header_options{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: auto;
  padding-right: 5%;
  padding-left: 5%;
  min-width: auto;
}
#image{
  padding-left: 15px;
}
#google_app{
  padding-left: 15px;
}
#user_login{
  padding-left: 15px;
}
#gmail_link{
  font-family: arial;
  font-size:  13px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  text-decoration: none;
}
#img_link{
  font-family: arial;
  font-size:  13px;
  line-height: 24px;
  text-align: start;
  color: #000000;
  text-decoration: none;
}
#google_apps_logo{
  color: #000000;
}
#user_login_logo{
  color: #000000;
}
#mid_upper_page {
  height: 25vh;
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
}
#google_logo{
  /* width: 272px; */
  width: auto;
  height: auto;
  align-self: flex-end;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
#search_box {
  height: 15vh;
  width: 100vw;
  background-color: #FFFFFF;
}
#search_container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;

}
#search_input_box {
  height: 65px;
  width: 600px;
  background-color: #FFFFFF;
}
#input_box{
  width: auto;
  max-width: 584px;
  height: 44px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  text-transform: none;
  text-indent: 0px;
  background-color: transparent;
}
#input_field_box:focus {
  outline: none;
  font-size: 22px;
}
#input_box:hover{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}
#microphone_logo{
  justify-content: flex-end;
}
#search_button_box {
  height: 68px;
  width: 600px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}
#input_field_box{
  width: 528px;
  height: 44px;
  /* border: 1px solid #D9D9D9; */
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
padding: 1px;
}
.button{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.button:hover{
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}
#middle_lower_page {
  height: 45vh;
  width: 100vw;
  background-color: #FFFFFF;
}
#bottom_part {
  height: 113px;
  width: 100vw;
  background-color: #FFFFFF;
}
#location {
  height: 57px;
  width: 100vw;
  /* padding: 15px 30px; */
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}
#more_google_info {
  height: 57px;
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
}
#left_more_info{
  display: flex;
  justify-content: flex-start;
  margin:auto;
}
#right_more_info{
  display: flex;
  justify-content: flex-end;
  flex-grow: 0.9;
  margin:auto;
}
.to_the_left_info{
  display: flex;
  margin: 10px;
}
.to_the_right_info{
  display: flex;
  margin: 10px;
}
.bottom_links{
  text-decoration: none;
  color: #70757a;
}